In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
colab_path='/content/drive/'
file_path = colab_path+'MyDrive/1~4월 엑셀 편집본/1월.xlsx'

df_1 = pd.read_excel(file_path)
df_1

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (3084572877.py, line 3)

In [58]:
df_1.head()

,2022년 1월 업무추진비 집행내역,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,사용자,장소,집행목적,금액(원),대상 인원,결제 방법
1,원효로 제2동장,휘슬링,생활복지팀 직원 격려 음료,12000,4,카드
2,원효로 제2동장,부산식당,현안 업무 직원 격려식사,120000,4,카드
3,원효로 제2동장,휘슬링,기초복지팀 직원 격려 음료,13500,4,카드
4,원효로 제2동장,좋은날,신규 전입직원 격려 식사,56000,4,카드

In [59]:
df_1 = df_1.rename(columns=df_1.iloc[0])
df_1

          사용자    장소               집행목적   금액(원)  대상 인원  결제 방법
0         사용자    장소               집행목적   금액(원)  대상 인원  결제 방법
1    원효로 제2동장   휘슬링  생활복지팀  직원  격려  음료   12000      4     카드
2    원효로 제2동장  부산식당   현안  업무  직원  격려식사  120000      4     카드
3    원효로 제2동장   휘슬링  기초복지팀  직원  격려  음료   13500      4     카드
4    원효로 제2동장   좋은날   신규  전입직원  격려  식사   56000      4     카드
..        ...   ...                ...     ...    ...    ...
946      건축과장  청송식당       공공건축 관련 업무추진   32000      3     카드
947      건축과장   고인돌      건축인허가 관련 업무추진   58000      4     카드
948       주무관   고인돌      건축인허가 관련 업무추진   86000      4     카드
949      건축과장  청송식당       공공건축 관련 업무추진   84000      6     카드
950      건축과장  청송식당      건축인허가 관련 업무추진   48000      6     카드

[951 rows x 6 columns]

In [60]:
df_1 = df_1.drop([0], axis = 0)
df_1

          사용자    장소               집행목적   금액(원) 대상 인원 결제 방법
1    원효로 제2동장   휘슬링  생활복지팀  직원  격려  음료   12000     4    카드
2    원효로 제2동장  부산식당   현안  업무  직원  격려식사  120000     4    카드
3    원효로 제2동장   휘슬링  기초복지팀  직원  격려  음료   13500     4    카드
4    원효로 제2동장   좋은날   신규  전입직원  격려  식사   56000     4    카드
5    원효로 제2동장   휘슬링    행정민원팀  직원격려  음료   11000     4    카드
..        ...   ...                ...     ...   ...   ...
946      건축과장  청송식당       공공건축 관련 업무추진   32000     3    카드
947      건축과장   고인돌      건축인허가 관련 업무추진   58000     4    카드
948       주무관   고인돌      건축인허가 관련 업무추진   86000     4    카드
949      건축과장  청송식당       공공건축 관련 업무추진   84000     6    카드
950      건축과장  청송식당      건축인허가 관련 업무추진   48000     6    카드

[950 rows x 6 columns]

In [61]:
df_1 = df_1.drop(['사용자', '집행목적', '결제 방법'], axis = 1)
df_1

       장소   금액(원) 대상 인원
1     휘슬링   12000     4
2    부산식당  120000     4
3     휘슬링   13500     4
4     좋은날   56000     4
5     휘슬링   11000     4
..    ...     ...   ...
946  청송식당   32000     3
947   고인돌   58000     4
948   고인돌   86000     4
949  청송식당   84000     6
950  청송식당   48000     6

[950 rows x 3 columns]

In [62]:
df_1.columns = ['장소','금액(원)','대상 인원(명)']
df_1

       장소   금액(원) 대상 인원(명)
1     휘슬링   12000        4
2    부산식당  120000        4
3     휘슬링   13500        4
4     좋은날   56000        4
5     휘슬링   11000        4
..    ...     ...      ...
946  청송식당   32000        3
947   고인돌   58000        4
948   고인돌   86000        4
949  청송식당   84000        6
950  청송식당   48000        6

[950 rows x 3 columns]

In [63]:
df_1['장소'].unique()

array(['휘슬링', '부산식당', '좋은날', '교동닭강정', '부산대원어묵', '등촌샤브칼국수', '서울큰입탕', '조박집',
       '왕뼈  감자탕', '육시리  마포점', '㈜다우데이타', '길농원', '팔보', '땅끝마을', '문배식당',
       '이태원곰탕', '고인돌', '걸구네', '이태원쌈밥', '순대와쭈꾸미(이태원)', '원조보리밥수제비', '전주소반',
       '카페다디오', '굴마을낙지촌', '호남식당', '통큰칼국수', '주식회사명동교자(이태원지점)', '치킨주막',
       '오토김밥 본점', '서울추어탕', '신들래', '소연덮밥', '본죽&비빔밥', '댓잎갈비', '피컨트',
       '우쿠야한남점', '이태원면사무소', '항아리', '파리바게뜨 용산산천', '옛날국시', '중국관', '모빌 ARS',
       '청호손칼국수', '효돈', '신의주순대와쭈꾸미', '곽대리   꼼장어구이', '꿈앤카페', '녹사커피',
       'Sitand Sip', '비티엘플러스', '도코로', '스타벅스', '커피빈', '테폼', '위긴티식스',
       '(주)오티디코퍼레이션', 'SSG.COM', '위긴티식스 (WEGINTIXIX)', '다채  동빙고점', '남산팥죽',
       '어제의카레', '복떡마루', '복지매점 현주상사', '바다양푼이동태탕', '돼지집', '경리단그집',
       '전주콩나물국밥삼각지점', '다채   동빙고점', '아포르(APor)', '효가옥', '김가네뼈다귀해장국',
       '(주)우아한형제들', '발루토  피비', '오토김밥  본점', '코지빌라커피',
       '포  하우스  (PHO  HOUSE)', '서울공사', '재재식당1', '아웃백  딜리버리옥수점',
       '복지매점  현주상사', '유진본가', '라보데기타', '꼬꼬부대', '이바돔감자탕 이태원역점', '원미정',
       '스시투고', '레트로', 'GS25 이태원스카이점', '명동교자(이태원지점)', '명동교자',
       '주식회사명동교자\n(이태원지점)', '이태원미8군부대찌개', '나무아래', '김천재의육회반한연어', '배떡 이태원점',
       '포 하우스', '딜리버리킹신촌점', '모모치킨', '후암동', '대지', '여기래', '오페뜨 후암점',
       '왕십리옛날곱창', '후암동칼국수', '후라토식당', '도동집', '대장장이커피숍', '한강집생태', '리지트커피',
       '보광골참숯갈비', '오띠젤리', '광식이네아구찜', '㈜왕타이', '동천홍', '트레비아', '러블리숑쑝(쏠)',
       '길버트버거앤프라이', '원조보리밥', '경주집', '단풍코리아', '다운타우너', '바다양푼이', '무진장',
       '단풍나무 이태원점', '행복플러스가게\n꿈앤카페', '아서원', '주식회사 명동교자\n(이태원지점)',
       '이디야커피삼각지역점', '카페로찌', '용산장어마을', '마린씨', '(주)왕타이', '와이팟커피', '마녀찜닭',
       '구름식탁', '워터스트리트', '워트스트리트', '경리단578', '녹지정', '맛깔손', '카스광장',
       '보마켓경리단점', '약수한방삼계탕', '산마루돌구이', '스토리원', '부다스벨리',
       '주식회사 명동교자 (이태원지점)', '주식회사 다운타우너', '마구로센', '남도마루', '자코비스 버거',
       '가마솥흑염소', '한국도미노피자 (주) 이태원점', '김천재의 육회반한연어 이태원역점', '이태원숯불구이',
       'VIC마켓 영등포점', 'G마켓', '벤스쿠키코리아 유한회사', '광주집', '(주)디아그라', '핵밥용산점',
       '딜리버리킹', '오티디코퍼레이션', '맷돌로만', '오리지널팬케이크하우스', '(주)라플랑끄', '포36거리',
       '어바웃샤브', '디저트카페스테이', '더함', '정', '뚜레쥬르(숙대입구)', '카페더뜰', '미니스톱',
       '김정재', '카페콤마', '무자비', '남원원추어탕', '김수정', '양자강', '순대와쭈꾸미',
       '이태원미8군부대찌게', '주식회사명동교자', '유진', '시장횟집', '산꼼장어', '에이치엠티코리아',
       '우아한형제들', '레잇먼트', '오토김밥', '넘버원', '명랑핫도그', '아톤브루어리', '안다미로', 'Ssol',
       '이여곰탕용산점', '오륙도', '함지박', '소설옥', '다우리감자탕', '해물잡탕', '한도니',
       '(주)학산  한남지점', '다운타우너 한남', '우가마트', '이애이치엔', '온고을', '발루토 피비',
       '스시사와', '(주)더래빗코리아', '영광정육식당', '용대리황태', '몽떼(monte)', '탐앤탐스 용산문배점',
       '단박왕돈까스', '(주)이마트 용산점', '삼각카페', '강원정삼계탕', '포  하우스    (PHO\nHOUSE)',
       '(주)헬카페(HellCafe Co  Ltd)', '주식회사    명동교자\n(이태원지점)', '맥도날드이태원점',
       '레트Th', '후시스', '함선생', '하롱베이의 하루', '경조사비', '산들해반포', '태영유통', '회나무식당',
       '목포명가', '오락씰', '정찬', '국방가든', '양주김치찜', '태양', '복지매점현주상사', '광식이네',
       '본죽&비빔밥 한남순천향\n병원점', '풍년갈비', '보니스피자펍(주)', '한국야쿠르트', '롯데슈퍼', '시루향기',
       '파파도나스', '저스틴 스테이크', '못된송아지', '섬마을', '무안식당', '네이버파이낸셜(주)', '그릴도하',
       '투원투', '오토김밥본점', '대포항', '넘버원양꼬치', '신의주순대와쭈꾸미이태원역점', '떡보의하루',
       '맥도널드이태원점', '포하우스', '오츠커피', '(주)저스틴스테이크', 'GLOBAL FRESH MEAT',
       '사와강', 'DODCOOK STARLAKE', 'Y CPDT TMQT MAT TROI', '본도시락 한남점',
       '에코앤데코\n갤러리 카페', '주식회사 명동교자(이태\n원지점)', '러블리숑숑', 'FAMILY FRUITS',
       'ssol(쏠)', '맥도날드', '단골집', '던킨도너츠', '황토마당', '나주집', '농협유통용산',
       '복지매점 현주', '레버스유통', '주식회사 코끼리베이글', '주식회사 오띠젤리', '롯데리아', '카페미우',
       '쉐이드트리', '솔뫼', '최가네 남원추어탕', '양푼이동태탕', '파리바게뜨', '숙달돼지', '김뿌라동부이촌점',
       '주식회사 낭만상회', '84이태원', '참치공방', '꿈앤펀', '신의주순대와 쭈꾸미', '파리바게트이태원점',
       '제이푸드', '어여곰탕', '에스비 에프앤비', '김뿌라 동부이촌점', '오빠달걀빵', '고수찜닭',
       '더가득담은 1인 김치찜', '이태원숯불갈비', '㈜더래빗코리아', '안티스트레스', '알촌', '이심점심',
       '재재식당', '㈜신라갈비찜', '11번가', '육부장', '서브웨이', '전주식당', '이태원미8군부대찌 개',
       '스쿨푸드딜리버리 용산점', '자매소반', '김가네', '원할머니보쌈', '이태원무떡볶이', '길버트버거앤프라이 즈',
       '이니시스(어여곰탕)', '주식회사 명동교자', '청송식당', '콩카페', '신라화원', '저스틴  스테이크', nan,
       '북창터', '호미곶', '명가', '(주)오리지널팬케이크하우스(이태원점)', '인디에어', '이태원  쌈밥',
       '포88', '비씨  158', '㈜우아한형제들', '인생닭강정', '행복플러스가게꿈앤카페', '아그라',
       '큰집  닭한마리', '몽떼', '㈜명동교자  이태원지점', '묵은지  김치찜', '제육대가 용산점', '풍년옥',
       '장미찜닭', '김성천스시', '원조보리밥 수제비', '복지매점  현주', '면사무소', '정육점식당', '육대장',
       '구구전복. 삼계탕', '맥도날드 이태원점', '풍년숯불갈비', '어제의  카레', '산성칼국수', '태평양식당',
       '등촌 샤브칼국수', 'g마켓', '버텍스 이태원본점', '몬드리안호텔 구름식탁', '쭈왕  후암점', '베이커스코드',
       '스타벅스 용산해링턴스퀘어점', '이태원\n숯불구이', '섬집', '코지빌라', '정글수산', '리지트',
       '방태막국수', '신의주순대\n와쭈꾸미', '포베이 (신용산점)', '남영골', '소담부대찌 개', '리우푸드',
       '한일갈비', '대흥정육식 당', '(주)저스틴스\n테이크', '주식회사 디자인맑음', '아임복', '먹는세상',
       '감동골', '삼정카페', '비씨(BC)158', '주식회사비티엘플러스', '시굴집', '주)스타벅스커피코리아',
       '한방오백소갈비살', '헤이리커피공장103이촌점', '구름식당', '주식회사 에스씨케이컴퍼니', '경성함바그',
       '파리바게뜨 서소문중앙점', '160도', '442김치찌개', '에이치디씨아이파크몰주식회사', '서울용산지역자활센터',
       '단풍코리아유한회사 단풍나무 이태원점', '한남북엇국', '페노티프1b', '동궁찜닭', '본죽 한남순천향병원점',
       '갯마을', '스타동', '버뮤다', '카페 라비앙코코', '(주)씨앤피프랜즈일품진진수라광화문점', '마녀김밥',
       '테라로사', '주식회사 소브스 (sovs)', '두마리찜닭', 'sit and sip',
       '구름식탁\n(㈜오티디코퍼\n레이션)', '현선이네', '이애이치앤', '발루토피비', 'SIT AND SIP',
       'WEGINTXIX', '좋은날스시', '초원', '청송', '씨앤쉽', '비에치씨', '해방촌방앗간',
       '족과동침 숙대점', '오거리할인마트', '남산산채집', '고전한방삼계탕', '김가이가숯불갈비', '왕십리곱창',
       '미니스톱 남산소월점', '정선곤드레밥'], dtype=object)

In [64]:
df_1.isnull().sum()

장소           1
금액(원)        0
대상 인원(명)    17
dtype: int64

In [65]:
df_1['장소'].dropna(axis=0)

1       휘슬링
2      부산식당
3       휘슬링
4       좋은날
5       휘슬링
       ...
946    청송식당
947     고인돌
948     고인돌
949    청송식당
950    청송식당
Name: 장소, Length: 949, dtype: object

In [66]:
df_1.isnull().sum()

장소           1
금액(원)        0
대상 인원(명)    17
dtype: int64

In [67]:
df_1['장소'] = df_1['장소'].str.replace(" ", "")
df_1['장소'] = df_1['장소'].str.replace("\n", "")

In [68]:
df_1['장소'].unique()

array(['휘슬링', '부산식당', '좋은날', '교동닭강정', '부산대원어묵', '등촌샤브칼국수', '서울큰입탕', '조박집',
       '왕뼈감자탕', '육시리마포점', '㈜다우데이타', '길농원', '팔보', '땅끝마을', '문배식당', '이태원곰탕',
       '고인돌', '걸구네', '이태원쌈밥', '순대와쭈꾸미(이태원)', '원조보리밥수제비', '전주소반', '카페다디오',
       '굴마을낙지촌', '호남식당', '통큰칼국수', '주식회사명동교자(이태원지점)', '치킨주막', '오토김밥본점',
       '서울추어탕', '신들래', '소연덮밥', '본죽&비빔밥', '댓잎갈비', '피컨트', '우쿠야한남점',
       '이태원면사무소', '항아리', '파리바게뜨용산산천', '옛날국시', '중국관', '모빌ARS', '청호손칼국수',
       '효돈', '신의주순대와쭈꾸미', '곽대리꼼장어구이', '꿈앤카페', '녹사커피', 'SitandSip',
       '비티엘플러스', '도코로', '스타벅스', '커피빈', '테폼', '위긴티식스', '(주)오티디코퍼레이션',
       'SSG.COM', '위긴티식스(WEGINTIXIX)', '다채동빙고점', '남산팥죽', '어제의카레', '복떡마루',
       '복지매점현주상사', '바다양푼이동태탕', '돼지집', '경리단그집', '전주콩나물국밥삼각지점', '아포르(APor)',
       '효가옥', '김가네뼈다귀해장국', '(주)우아한형제들', '발루토피비', '코지빌라커피',
       '포하우스(PHOHOUSE)', '서울공사', '재재식당1', '아웃백딜리버리옥수점', '유진본가', '라보데기타',
       '꼬꼬부대', '이바돔감자탕이태원역점', '원미정', '스시투고', '레트로', 'GS25이태원스카이점',
       '명동교자(이태원지점)', '명동교자', '이태원미8군부대찌개', '나무아래', '김천재의육회반한연어',
       '배떡이태원점', '포하우스', '딜리버리킹신촌점', '모모치킨', '후암동', '대지', '여기래', '오페뜨후암점',
       '왕십리옛날곱창', '후암동칼국수', '후라토식당', '도동집', '대장장이커피숍', '한강집생태', '리지트커피',
       '보광골참숯갈비', '오띠젤리', '광식이네아구찜', '㈜왕타이', '동천홍', '트레비아', '러블리숑쑝(쏠)',
       '길버트버거앤프라이', '원조보리밥', '경주집', '단풍코리아', '다운타우너', '바다양푼이', '무진장',
       '단풍나무이태원점', '행복플러스가게꿈앤카페', '아서원', '이디야커피삼각지역점', '카페로찌', '용산장어마을',
       '마린씨', '(주)왕타이', '와이팟커피', '마녀찜닭', '구름식탁', '워터스트리트', '워트스트리트',
       '경리단578', '녹지정', '맛깔손', '카스광장', '보마켓경리단점', '약수한방삼계탕', '산마루돌구이',
       '스토리원', '부다스벨리', '주식회사다운타우너', '마구로센', '남도마루', '자코비스버거', '가마솥흑염소',
       '한국도미노피자(주)이태원점', '김천재의육회반한연어이태원역점', '이태원숯불구이', 'VIC마켓영등포점', 'G마켓',
       '벤스쿠키코리아유한회사', '광주집', '(주)디아그라', '핵밥용산점', '딜리버리킹', '오티디코퍼레이션',
       '맷돌로만', '오리지널팬케이크하우스', '(주)라플랑끄', '포36거리', '어바웃샤브', '디저트카페스테이',
       '더함', '정', '뚜레쥬르(숙대입구)', '카페더뜰', '미니스톱', '김정재', '카페콤마', '무자비',
       '남원원추어탕', '김수정', '양자강', '순대와쭈꾸미', '이태원미8군부대찌게', '주식회사명동교자', '유진',
       '시장횟집', '산꼼장어', '에이치엠티코리아', '우아한형제들', '레잇먼트', '오토김밥', '넘버원',
       '명랑핫도그', '아톤브루어리', '안다미로', 'Ssol', '이여곰탕용산점', '오륙도', '함지박', '소설옥',
       '다우리감자탕', '해물잡탕', '한도니', '(주)학산한남지점', '다운타우너한남', '우가마트', '이애이치엔',
       '온고을', '스시사와', '(주)더래빗코리아', '영광정육식당', '용대리황태', '몽떼(monte)',
       '탐앤탐스용산문배점', '단박왕돈까스', '(주)이마트용산점', '삼각카페', '강원정삼계탕',
       '(주)헬카페(HellCafeCoLtd)', '맥도날드이태원점', '레트Th', '후시스', '함선생',
       '하롱베이의하루', '경조사비', '산들해반포', '태영유통', '회나무식당', '목포명가', '오락씰', '정찬',
       '국방가든', '양주김치찜', '태양', '광식이네', '본죽&비빔밥한남순천향병원점', '풍년갈비',
       '보니스피자펍(주)', '한국야쿠르트', '롯데슈퍼', '시루향기', '파파도나스', '저스틴스테이크', '못된송아지',
       '섬마을', '무안식당', '네이버파이낸셜(주)', '그릴도하', '투원투', '대포항', '넘버원양꼬치',
       '신의주순대와쭈꾸미이태원역점', '떡보의하루', '맥도널드이태원점', '오츠커피', '(주)저스틴스테이크',
       'GLOBALFRESHMEAT', '사와강', 'DODCOOKSTARLAKE', 'YCPDTTMQTMATTROI',
       '본도시락한남점', '에코앤데코갤러리카페', '러블리숑숑', 'FAMILYFRUITS', 'ssol(쏠)',
       '맥도날드', '단골집', '던킨도너츠', '황토마당', '나주집', '농협유통용산', '복지매점현주', '레버스유통',
       '주식회사코끼리베이글', '주식회사오띠젤리', '롯데리아', '카페미우', '쉐이드트리', '솔뫼',
       '최가네남원추어탕', '양푼이동태탕', '파리바게뜨', '숙달돼지', '김뿌라동부이촌점', '주식회사낭만상회',
       '84이태원', '참치공방', '꿈앤펀', '파리바게트이태원점', '제이푸드', '어여곰탕', '에스비에프앤비',
       '오빠달걀빵', '고수찜닭', '더가득담은1인김치찜', '이태원숯불갈비', '㈜더래빗코리아', '안티스트레스',
       '알촌', '이심점심', '재재식당', '㈜신라갈비찜', '11번가', '육부장', '서브웨이', '전주식당',
       '스쿨푸드딜리버리용산점', '자매소반', '김가네', '원할머니보쌈', '이태원무떡볶이', '길버트버거앤프라이즈',
       '이니시스(어여곰탕)', '청송식당', '콩카페', '신라화원', nan, '북창터', '호미곶', '명가',
       '(주)오리지널팬케이크하우스(이태원점)', '인디에어', '포88', '비씨158', '㈜우아한형제들', '인생닭강정',
       '아그라', '큰집닭한마리', '몽떼', '㈜명동교자이태원지점', '묵은지김치찜', '제육대가용산점', '풍년옥',
       '장미찜닭', '김성천스시', '면사무소', '정육점식당', '육대장', '구구전복.삼계탕', '풍년숯불갈비',
       '산성칼국수', '태평양식당', 'g마켓', '버텍스이태원본점', '몬드리안호텔구름식탁', '쭈왕후암점',
       '베이커스코드', '스타벅스용산해링턴스퀘어점', '섬집', '코지빌라', '정글수산', '리지트', '방태막국수',
       '포베이(신용산점)', '남영골', '소담부대찌개', '리우푸드', '한일갈비', '대흥정육식당',
       '주식회사디자인맑음', '아임복', '먹는세상', '감동골', '삼정카페', '비씨(BC)158',
       '주식회사비티엘플러스', '시굴집', '주)스타벅스커피코리아', '한방오백소갈비살', '헤이리커피공장103이촌점',
       '구름식당', '주식회사에스씨케이컴퍼니', '경성함바그', '파리바게뜨서소문중앙점', '160도', '442김치찌개',
       '에이치디씨아이파크몰주식회사', '서울용산지역자활센터', '단풍코리아유한회사단풍나무이태원점', '한남북엇국',
       '페노티프1b', '동궁찜닭', '본죽한남순천향병원점', '갯마을', '스타동', '버뮤다', '카페라비앙코코',
       '(주)씨앤피프랜즈일품진진수라광화문점', '마녀김밥', '테라로사', '주식회사소브스(sovs)', '두마리찜닭',
       'sitandsip', '구름식탁(㈜오티디코퍼레이션)', '현선이네', '이애이치앤', 'SITANDSIP',
       'WEGINTXIX', '좋은날스시', '초원', '청송', '씨앤쉽', '비에치씨', '해방촌방앗간',
       '족과동침숙대점', '오거리할인마트', '남산산채집', '고전한방삼계탕', '김가이가숯불갈비', '왕십리곱창',
       '미니스톱남산소월점', '정선곤드레밥'], dtype=object)

In [1]:
df_1['장소'].unique().sum()

NameError: name 'df_1' is not defined

In [70]:
df_1

       장소   금액(원) 대상 인원(명)
1     휘슬링   12000        4
2    부산식당  120000        4
3     휘슬링   13500        4
4     좋은날   56000        4
5     휘슬링   11000        4
..    ...     ...      ...
946  청송식당   32000        3
947   고인돌   58000        4
948   고인돌   86000        4
949  청송식당   84000        6
950  청송식당   48000        6

[950 rows x 3 columns]

In [69]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).