In [50]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [51]:
colab_path='/content/drive/'
file_path = colab_path+'MyDrive/DS_team_data/4월.xlsx'

df_4 = pd.read_excel(file_path)
df_4

       사용자          장소                       집행목적   금액(원) 인원(명) 결제방법
0       동장        유진본가                    현안업무 소통   54000     4  NaN
1       동장         면마루              청사공간개선 근무자 격려   17000     2  NaN
2       동장    명가담양숯불갈비                    현안업무 소통   49000     3  NaN
3       동장     샐러디신용산점              청사공간개선 근무자 격려   31700     3  NaN
4       동장    바스버거 후암점              청사공간개선 근무자 격려   14900     2  NaN
..     ...         ...                        ...     ...   ...  ...
792   언론팀장   세광양대창 용산점  서울시청 출입기자 용산구 주요시책 홍보 간담회  216000    10   카드
793    주무관         갯마을            6월호 소식지 게재자료 협의   59000     5   카드
794  홍보담당관  산골집500소갈비살         어르신의 날 행사 취재기자 간담회   76900     3   카드
795   공보팀장       한남북엇국           6월호 소식지 표지 업무 협의   63450     5   카드
796  홍보담당관         육대장           인터넷방송국 콘텐츠 제작 협의   52000     5   카드

[797 rows x 6 columns]

In [52]:
df_4.head()

  사용자        장소           집행목적  금액(원) 인원(명) 결제방법
0  동장      유진본가        현안업무 소통  54000     4  NaN
1  동장       면마루  청사공간개선 근무자 격려  17000     2  NaN
2  동장  명가담양숯불갈비        현안업무 소통  49000     3  NaN
3  동장   샐러디신용산점  청사공간개선 근무자 격려  31700     3  NaN
4  동장  바스버거 후암점  청사공간개선 근무자 격려  14900     2  NaN

In [53]:
df_4 = df_4.drop(['사용자', '집행목적', '결제방법'], axis = 1)
df_4

             장소   금액(원) 인원(명)
0          유진본가   54000     4
1           면마루   17000     2
2      명가담양숯불갈비   49000     3
3       샐러디신용산점   31700     3
4      바스버거 후암점   14900     2
..          ...     ...   ...
792   세광양대창 용산점  216000    10
793         갯마을   59000     5
794  산골집500소갈비살   76900     3
795       한남북엇국   63450     5
796         육대장   52000     5

[797 rows x 3 columns]

In [54]:
df_4.isnull().sum()

장소        1
금액(원)     0
인원(명)    17
dtype: int64

In [55]:
df_4['장소'] = df_4['장소'].str.replace(" ", "")
df_4['장소'] = df_4['장소'].str.replace("\n", "")
df_4['장소'] = df_4['장소'].str.replace("nan", "")

In [56]:
df_4['장소'].dropna()

0            유진본가
1             면마루
2        명가담양숯불갈비
3         샐러디신용산점
4         바스버거후암점
          ...
792      세광양대창용산점
793           갯마을
794    산골집500소갈비살
795         한남북엇국
796           육대장
Name: 장소, Length: 796, dtype: object

In [57]:
df_4['장소'].isnull().sum()

1

In [58]:
df_4['장소'].unique()

array(['유진본가', '면마루', '명가담양숯불갈비', '샐러디신용산점', '바스버거후암점', '드로트', '조대포',
       '펍1번가', '몰도이탈리안에스프레소바', '김가이가숯불갈비', '꿈앤카페', '참숯화로구이', '오거리할인마트',
       '마린씨', '리지트커피', '댓잎갈비', '(주)비스테까녹사', '콩카페이태원점', '명동교자(이태원지점)',
       '해리화원', '커피빈', '나무아래', '위긴티식스', '원조보리밥수제비', '(주)신라갈비찜', '발루토피비',
       '신의부대찌개', '유진本家', '남산한정식', '온고을', '(주)디아그라', '안다미로', '오토김밥본점',
       '유진막국수', '영광정육식당', '(주)오티디코퍼레이션', '굴마을낙지촌', '옛날국시', '(주)우아한형제들',
       '진아네', '걸구네', '명동교자이태원점', '녹사커피', '레트로', '신의주순대와쭈꾸미', '챔프커피',
       '모터시티바이매니멀', '가마솥족발', '아서원', '딜리버리킹', '이태원미8군부대찌개', '에스씨케이컴퍼니',
       '콩카페', '가마솥흑염소', '본투비', '무진장', '이태원숯불구이', '야스노야', '포하우스', '남산돈까스',
       '코끼리베이글', '명동교자', '빽다방', '아톤브루어리', '마포나루', '지노스피자', '김가네', '평양식당',
       '갯마을(2호점)', '주식회사에스씨케이컴퍼니', '(주)기센크리아에프엔비아튼브루어리', '（주)오티디코퍼레이션',
       '콩카페이태원점(CONGCAPHE)', '단풍크리아유한회사단풍니무이태원점', '주식회사비티엘플러스', '이태원쌈밥',
       '한일갈비', '주식회사명동교자(이태원지점)', '㈜러프스튼한남동지점', '테이블스', '유진', '골목부대스테이크',
       '손맛집혼밥', '이태원명동칼국수', '모터시티바이미니멀', '이바돔감자탕이태원역점', '스시투고', '중국관',
       '마왕족발원효점', '광식이네아구찜', '정성달아', '이태원매운우동', '청송식당', '한남동한방통닭',
       '행복이가득한집', '돈까스잔치', '통큰칼국수', '김성천스시', '본죽&비빔밥한남순천향병원점', '이태원면사무소',
       '남도복국삼각지점', '정민', '프랭키', '하늘곳간', '영광굴비정식', '루트', '쓰나미', '휘슬링',
       '등촌샤브칼국수', '길농원', '왕타이', '㈜우아한형제들', '원할머니보쌈', '전주소반', '돼지집', '피닉스',
       '김가네한남점', 'wegintixix', '동아냉면', '돈치앤', '여천식당', '핵밥용산점',
       '구름식탁(오티디코퍼레이션)', '괘걸쭈꾸미', '에머이', '명동함흥면옥', '남산골산채집', '바다양푼이동태탕',
       '파리바게트후암점', '약초마을', '모모야', '충무칼국수', '모모치킨', '커피팩토리', '양푼이동태탕',
       '나리노', '길버트버거', '원조부산밀면', '통영횟집', '다운타우너한남점', '어제의카레', '㈜더래빗코리아',
       '카덴짜커피', '산마루돌구이', '재재식당', '커피오브코스', '자성당', '김가네(배달)', '오띠젤리',
       '주식회사위대한상상', '㈜노토리어스(지노스1호점)', '구름식탁', '이문설농탕', '와플하우스', '다운타우너한남',
       '화양연가', '(주)왕타이', '남산한우', '스타벅스', '감나무집', '이태원곰탕', '와이팟커피',
       '네로우패스', '에이피씨옐로우', '재재식당1', '마크29(Mark29)/해물과차돌박이', '원미정', '코이',
       'VIC마켓영등포점', '(주)이마트용산점', '유한회사카페노티드한남', '중국관(배달)', '복지매점현주상사',
       '주식회사어니스타컴퍼니', '국립중앙박물관투점플레이스1', 'G마켓', '네버더레스(nevertheless)',
       '용산장어마을', '이태원밤밥', '발루토리비', '포하우스(PHOHOUSE)', '더백트리',
       '마르가수(margadhso)', '넘버원양고치', '주식회사명동교자（이태원지점）', '이태원방밥', '꿈앤떤',
       '준호스키야리가', '（주）기센코리아에프엔비아톤브루', '이태원숨불구이', '（주）디아그라', '봉이네맛집',
       '미팔군부대찌개', '가마솥순대국', '네버더레스', '㈜디아그라', '김태완스시', '단풍나무집', '유키사키',
       '피컨트', '케냐키암부', '오토김밥', '㈜오티디코퍼레이션', '11번가', '제육대가',
       '㈜어니스타컴퍼니(미니마이즈)', '쓰리랑&쭈사마', '이태원왕김밥', '㈜오리지널팬케이크하우스', '커피오브콜스',
       '알트에이', '주식회사알티스트', '용산양꼬치', '모터시티', '이여곰탕', '반당', '봉추찜닭',
       '이바돔감자탕', '회나무식당', '동천홍', '스탠다드키친', '갯마을', '다채동빙고점', '오티디코퍼레이션',
       '민들레', '다예쁘다', '한상집', '용호야채곱창', '도미노피자이태원점', '저스틴스테이크', nan,
       '㈜신라갈비찜', '이태원미8군부대찌게', '이건참치', '파젠다', '북창터', '명가', '목멱산방',
       '용산더센트럴파스쿠찌', '커피빈이태원몬드리안호텔점', '길버트버거앤프라이즈이태원', '맥도날드이태원점', '창성옥',
       '포비아워스카페아이파크몰점', '용산훼링턴스퀘어스타벅스', 'MAMOE', '다우리감자탕', '베이커스코드', '쉼',
       '갯마을（2호점）', '쏭타이', '딜리버리킹신촌점', '끔앤카페', '커피스미스', '오복수산',
       '㈜학산테라로사한남', '리빈글로벌', '이태원양꼬치', '이유카츠(탄탄포차)', '이태원121by익선121',
       '이태원명동교자', '기다스시', '더플라잉팬블루', '위긴티식스(WEGINTIXIX)', '소림마라용산점',
       '당산할인마트', '빠레뜨한남', '아그라', '㈜알페트라', '씨유상암2단지점', '엔소쿠', '사유(SAYOO)',
       '소속상근직원', '세븐일레븐용산하이브점', '함경면옥', '아이파크몰삼송방집', '유전냉면', '타르틴', '해청',
       '손문', '이마트용산점', '금홍', '파이드파이퍼', '용산마루', '옛촌읽냉면', '듬이부대찌개', '녹사커미',
       '광식이네아구짐', '카데다디오', '댓임질비', '리지트커미', '산골녹차냉면', '발루토미비', '굴마율낙지촌',
       '카페다디오', '굴마올낙지촌', '신의주순대와주꾸미', '（주）더래빗코리아', '쟈니덤플링', '라떼다디오',
       '은고을', '카덴짜러미(cadenzacoffee)', '장독대김치찜', '더맨트리', '다채동밍고점', '대원',
       '투원투', '명동교자(이태원점)', '플러스84이태원', '부다스벨리', '(주)현대본가', '사와강', '원대구탕',
       '주식회사다운타우너한남', '주식회사라이너스즈바베큐', '레트Th', '리지트', '주식회사남산한우', '남도마루',
       '이태원술불구이', '청송', '이태원몸탕', '우리곱창', '지마켓', '장애인복지단체협의', '명량핫도그',
       '꿈앤타페', '코지빌라커피', '페츠베리머치', '쿠팡(주)', '주식회사코끼리베이글', 'SSG.COM',
       '1번지남산돈까스', '곽대리꼼장어구이', '테폼', '풍년갈비', '랍스터바', '태극당', '아크앤북',
       '경리단578', '（주）우아한형제들', '본도시락한남점', '주식회사르데스크에」', '（주）비스테까녹사',
       '행복플러스가게꿈앤;', '아그라이태원점', '인디에어(IntheAIR)', '보광파리바게뜨', '주식회사오띠젤리',
       '（쥐우아한형제들', '포하우스（PHOHOI', '한솥도시락(우아한형제들)', '주식회사에스씨케이', '（쥐메타커넥트',
       '（주）우아한형제들（이', '(주)메타커넥트', '(주)우아한형제들（무모', '원할머니보쌈남영점',
       '더베이크드바이셰프프', '롯데리아보광점', '（쥐우아한형제들（본도', '신신제분', '소보로방집',
       '잭슨피자삼각지점', '태평양식당', '주식회사와이엠에스', '씻앤쉽(SitandSip)', '무모한초밥', '싯앤십',
       '주식회사아성다이소', 'GS25이태원스카이점', '㈜커피빈코리아', 'GS이태원스카이점', '시루향기', '열해',
       '수저가간짜장집', '스타벅스동빙고점', '고가길구공탄', '장수식당', '길목식당', '세미네', '카페심볼',
       '효가옥', '삼정카페', '베이커리몽소', '남원원추어탕', '해바라기정육식당', '세자매삼겹살', '결혼(윤**)',
       '정', '낭만청파', '본죽&비빔밥café', '동해수산', '코뮨', '(주)핏제리아디부자', '160도',
       '펠트청계천점', '(주)뚜리삼', '마녀김밥', '비씨(BC)158', '즐겁소', '(주)동빙고이촌',
       '목포해물탕', '442김치찌개', '카페알토바이밀도', '주식회사누아누아', '단풍나무집이태원점', '정글수산',
       '베트남돼지', '풍성집', '지코바이태원점', '이북집찹쌀순대', '세광양대창용산점', '산골집500소갈비살',
       '한남북엇국', '육대장'], dtype=object)